@import "tailwindcss";

@theme {
  --color-pomodoro-red: #ef4444;
  --color-pomodoro-green: #10b981;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

.card {
  @apply bg-white p-6 rounded-xl shadow-sm border border-gray-200;
}